body {
	background-color:rgb(230,230,230);
}

.HdrTxt {
	display:inline;
	width:85%;
}

.ticket {
	width:200px;
	height:200px;
	background-image:url("Bilder/Notizzettel.png");
	background-size:cover;
	display:inline-table;
	margin:10px;
	
	position:page;
	
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
}

.hueimportant {
	-webkit-filter: hue-rotate(300deg);
	filter: hue-rotate(300deg);
}

.hueUNimportant {
	-webkit-filter: hue-rotate(30deg);
	filter: hue-rotate(30deg);
}

.ticketHead {
	padding:4px;
	text-align:center;
	text-overflow:ellipsis;
	font-size:20px;
	font-weight:bold;
	background-color:rgb(245,225,85);
	width:192px;
	overflow:hidden;
	
	/*pointer-events:none;*/
}

.iconContainer {
	display:block;
	height:15px;
}

.ticketBody {
	/*pointer-events:none;*/
	height:135px;
	width:200px;
	overflow:hidden;
}

.ticketFooter {   
	padding-left:8px;
	text-align:left;
	text-overflow:ellipsis;
	font-size:12px;
	font-weight:bold;
	width:192px;
	overflow:hidden;
	/*background-color:gray;*/
}

.ticketDel {
	display:inline-block;
	width:15px;
	height:15px;
	background-image:url("Bilder/LSymbol.png");
	background-size:cover;
	cursor:pointer;
	float:right;
}

.diskussionButton {
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:5px;
	background-image:url("Bilder/Sprechblase.png");
	background-size:cover;
	cursor:pointer;
	float:right;
}

.bearbeitenButton {
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:5px;
	background-image:url("Bilder/Stift.png");
	background-size:cover;
	cursor:pointer;
	float:right;
}

.ticket:hover {
	animation-name: resize;
	/*animation-duration: 1s;*/
	animation-duration:0.3s;
	/*animation-iteration-count: 4;*/
	/*animation-direction: alternate;*/
	/*animation-timing-function: ease-in-out;*/
	position:center;
	transform:scale(1.1,1.1);
}

.ticketSel {
	width:200px;
	height:200px;
	/*background-color:white;*/
	background-image:url("Bilder/Notizzettel.png");
	display:inline-table;
	margin:10px;
	/*border:groove;
	border-width:2px;
	border-color:black;*/
	
	position:page;
	
	/*-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;*/

    z-index:2;
	
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
     transform:scale(1.4,1.4);
}

@keyframes resize {
	0% {
		padding: 0;
		transform:scale(1,1);
	}
	/*50% {
		transform:scale(1.1,1.1);
		padding: 20px 0px;
		background-color:rgba(255,0,0,0.2);
	}*/
	100% {
		transform:scale(1.1,1.1);
		/*padding: 100px 0px;*/
		/*background-color:rgba(255,0,0,0.9);*/
	}
}

.section, #addSection {
	/*verhindert Verschiebung beim ersten Element*/
	vertical-align:top;
	top:0px;
	margin:20px;
	background-color:rgb(195,195,195);
	width:448px;
	height:510px;
	display:inline-table;
	border-width:3px;
	border-style:outset;
}

#addSection{
	opacity:0.3;
	cursor:pointer;
}

#addSection:hover{
	opacity:1;
}

.addTicket {
	display:inline-block;
	width:35px;
	height:35px;
	background-image:url("Bilder/AddTicketSymbol.png");
	background-size:cover;
	cursor:pointer;
	float:right;
}

.sectionDel {
	display:inline-block;
	width:35px;
	height:35px;
	background-image:url("Bilder/LSymbolSection.png");
	background-size:cover;
	cursor:pointer;
	float:right;
}

h1{
	margin-left:20px;
	margin-top:8px;
	display:inline-block;
	font-size:30px;
	width:358px;
	overflow:hidden;
}

/* nicht verwendet?
#ticket-move {
	width:200px;
	background-color:white;
	display:inline-block;
	margin:6px;
	border:groove;
	border-width:2px;
	border-color:red;
	position:absolute;
} */

/*--------------------ausgegrautes Form-Fenster--------------------*/
.popUpHintergrund {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:100;
}

#ticketPopUp {
	display:none;
}

.popUpAusgrauen {
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.5;
}

.ticketContent {
	position:fixed;
	width:500px;
	height:450px;
	background-color:lightgrey;
	opacity:1;
	border-style: outset;
	border-color: black;
	border-width: 3px;
	margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.abbrechenButton {
	display:inline-block;
	width:35px;
	height:35px;
	background-image:url("Bilder/LSymbolSection.png");
	background-size:cover;
	cursor:pointer;
	float:right;
}

.okButton {
	font-weight:bold;
	position:absolute;
	width:50px;
	height:30px;
	bottom:10px;
	right:10px;
	cursor:pointer;
}

.ticketForm {
	position:absolute;
	width:400px;
	height:400px;
	background-image:url("Bilder/Notizzettel.png");
	background-size:cover;
	font-weight:bold;
	margin:25px;
	
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
}

#titelEingabe {
	padding:4px;
	width:392px;
	text-align:center;
	text-overflow:ellipsis;
	font-size:36px;
	font-weight:bold;
	background-color:rgb(245,225,85);
	border-style:none;
}

#inhaltEingabe {
	width:398px;
	height:270px;
	font-size:26px;
	background-color:rgb(252,232,110);
	border-style:none;
	resize: none;
}

#bearbeiterEingabe {
	margin-top:30px;
	padding-left:16px;
	text-align:left;
	text-overflow:ellipsis;
	font-size:20px;
	font-weight:bold;
	width:310px;
	background-color:rgb(252,232,110);
	border-style:none;
}